.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.form-ul{
  list-style-type: none;
}

#canvas{
  border: 1px solid grey;
}

.game-div{
  margin-left: 20px;
  margin-top: 20px;
}

/* - ---- ---- - chat.js ----- --- --- --- */

#chatInfo{
  height: 300px;
  background-color: whitesmoke;
}

span #msgHistory{
  text-align: center;
  text-decoration-style: solid;
}

form.chatForm{
  margin-top:20px;
}

#current-word{
  margin-left: 30%;
}

.green {
  color: green;
}

/*---------  Login.js Signup.js---------*/

.bgDiv{
  background: url(../src/back.jpg);
  background-size: contain;
  width: 100%;
  height: 100vh;
  position:fixed;
}

div .login{
  margin:auto;
  margin-top: 10%;
  background: whitesmoke;
  position:relative;
  font-family: 'Mali', cursive;
  width: 450px;
  height: 400px;
}

div .signup{
  margin:10% 20%;
  background: whitesmoke;
  position:relative;
  font-family: 'Mali', cursive;
}

.auth-form{
  padding: 10% 20%;
}

.formTitle {
  text-align: center;
  padding-top:20px;
}

/* ====== studentpage.js ======== */

.studentPage{
  margin: auto;
  width: 350px;
  height: auto;
  font-family: 'Mali', cursive;
}

#studentPage-Back{
  width:100%;
  height:100vh;
  position:fixed;
  background-color: rgb(241, 236, 240);
}


#img1{
  background: url(../src/gif1.gif);
  background-size: contain;
  width: 300px;
  height: 300px;
  position: relative;
  margin-bottom: -100px;
}

#img2{
  background: url(../src/gif2.gif);
  background-size: contain;
  width: 200px;
  height: 200px;
  position: relative;
  margin-left: 70%;
}

#img3{
  background: url(../src/gif7.gif);
  background-size: contain;
  width: 150px;
  height: 150px;
  position: relative;
  margin-top: -250px;
  margin-left: 10%;
}


li .list-group-item{
  background: rgba(255, 255, 255, 0);
}


/*  -------------  canvas.js  =------------  */
.toolDiv{
  /* margin-left:-10%; */
  width:150%;
}

.canvasDiv{

  width:100%;
}

/* -------------------    Timer.js   ------------------- */
#countdown {
  position: relative;
  margin-left: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
}

#countdown-number {
  color: black;
  display: inline-block;
  line-height: 40px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 4px;
  stroke: greenyellow;
  fill: none;
}

.run-animation{
   animation: countdown 30s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}


/* ------------------   List.js  ---------------------- */
li.list{
  font-size:18px;
}