.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.form-ul{
  list-style-type: none;
}

#canvas{
  border: 1px solid grey;
}

.game-div{
  margin-left: 20px;
  margin-top: 20px;
}

/* - ---- ---- - chat.js ----- --- --- --- */

.chat {
  margin-top:20px;
}

#chatInfo{
  height: 300px;
  background-color: whitesmoke;
}

span #msgHistory{
  text-align: center;
  text-decoration-style: solid;
}

form.chatForm{
  margin-top:20px;
}

#current-word{
  text-align: center;
  font-size: 30px;
}

.green {
  color: green;
}

.chatMsg{
  margin-left: 5px;
}

.btn{
  margin: 3px;
}

/*---------  Login.js Signup.js---------*/

.bgDiv{
  background: url(../src/back.jpg);
  background-size: contain;
  width: 100%;
  height: 100vh;
  position:fixed;
}

div .login{
  margin:auto;
  margin-top: 10%;
  background: whitesmoke;
  position:relative;
  font-family: 'Mali', cursive;
  width: 450px;
  height: 400px;
}

div .signup{
  margin:10% 20%;
  background: whitesmoke;
  position:relative;
  font-family: 'Mali', cursive;
}

.auth-form{
  padding: 10% 20%;
}

.formTitle {
  text-align: center;
  padding-top:20px;
}

/* ====== studentpage.js ======== */

.studentPage{
  margin: auto;
  width: 350px;
  height: auto;
  font-family: 'Mali', cursive;
}

#studentPage-Back{
  width:100%;
  height:100vh;
  position:fixed;
  background-color: rgb(250, 248, 249);
}


#img1{
  background: url(../src/gif1.gif);
  background-size: contain;
  width: 300px;
  height: 300px;
  position: relative;
  margin-bottom: -100px;
}

#img2{
  background: url(../src/gif4.gif);
  background-size: contain;
  width: 200px;
  height: 200px;
  position: relative;
  margin-left: 70%;
  margin-top: 30px;
}

#img3{
  background: url(../src/gif7.gif);
  background-size: contain;
  width: 150px;
  height: 150px;
  position: relative;
  margin-top: -250px;
  margin-left: 10%;
}


.list-group-item{
  background-color: rgba(255, 255, 255, 0);
  border: none;
}


/*  -------------  canvas.js  =------------  */
.toolDiv{
  /* margin-left:-10%; */
  width:150%;
}

.canvasDiv{
  width:100%;
}

/* -------------------    Timer.js   ------------------- */
#countdown {
  position: relative;
  margin-left: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
}

#countdown-number {
  color: black;
  display: inline-block;
  line-height: 40px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 4px;
  stroke: greenyellow;
  fill: none;
}

.run-animation{
   animation: countdown 30s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}


/* ------------------   List.js  ---------------------- */
li.list{
  font-size:18px;
}


/* ------------------    Popup.js     ------------------ */
.centerp{
  text-align: center;
}


/* ----------------------   NavBar.js  ---------------------- */
.logo{
  font-family: 'Walter Turncoat', cursive;
  font-size: 23px;
}

nav{
  box-shadow: 0 1px 1px 1px rgba(0,0,0,.2);
}

.modalTitle{
  background: lightblue;
  border-style: none;
  height:60px; 
}

.titleDiv{
  text-align: center;
}


/* ---------------------------------  StudentProfile.js    ---------------------------- */
.std-profile {
  text-align: center;
  font-family: 'Mali', cursive;
  font-weight: bold;
  background-color: lightblue;
  height: 100vh;
}

.profile-label{
  margin: 5px;
}

.codeForm{
  padding-top: 20%;
}

#img4{
  background: url(../src/gif9.gif);
  background-size: contain;
  width: 200px;
  height: 200px;
  position: relative;
  margin-top: 5%;
  margin-left: 70%;
}


/* -------------------   StudentHistory.js   ------------------- */
.std-history{
  background: rgb(249, 245, 244);
  height: 100vh;
  width: 100%;
}

.std-bg{
  background: url(../src/note_new.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height:70%;
}

.history-title{
  font-family: 'Mali', cursive;
  font-weight: bold;
}

.std-text{
  padding-top: 8%;
  padding-left: 40%;
}


@media only screen and (max-width: 1020px) {
  #img4{
    margin-top: 25%;
    margin-left: 70%;
  }

  .std-text{
    padding-top:12%;
    padding-left:30%;
  }
}